/* src/app/globals.css */

/* 1. Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 2. Body*/
body {
  background-color: #fafafa;
  /* Màu nền dự phòng khi web chưa load xong */
  /* Sử dụng biến font --font-inter mình đã tạo bên layout.tsx */
  /* Nếu lỗi font Inter thì nó tự nhảy sang font hệ thống (Apple/Windows) */
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

  /* Chữ nét hơn trên Macbook */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Link */
a {
  text-decoration: none;
  color: inherit;
}